@page "/bike"
@using webshop.Shared
@using webshop.Client.Services
<PageTitle>Bike</PageTitle>

<h1>Bikes</h1>

@if (bikes == null)
{
    <p><em>Loading...</em></p>
}
else
{
     
    <table class="table">
        
        <tbody> 
            @foreach (var bike in bikes)
            {
                <tr class="bikeRow">
                    <td><h2>@bike.Brand - @bike.Model</h2><br />
                    Price: @bike.Price kr.</td>
                    <td><img class="bikeImg" src="@bike.ImageUrl" width="200px"/></td>
                </tr>
            }
        </tbody>
    </table>
    
}

@code {

    private BEBike[]? bikes;

    [Inject]
    private IBikeService mService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        bikes = (await mService.GetAll()).ToArray();
    }

}

